{% extends "layout.html" %}


{% block main %}

    <h1>The Bookshelf</h1>
    <h4>The Bookshelf is has several books about various disciplines, and is grouped by subject matter.
    You can see 5 categories of books: Biology, Chemistry, Cryptography, Engineering, and Physics. Select a section to explore</h4>
    <br>
    <br>
    <br>
    <a href="/biology">Biology</a>
    <br>
    <a href="/chemistry">Chemistry</a>
    <br>
    <a href="/cryptography">Cryptography</a>
    <br>
    <a href="/engineering">Engineering</a>
    <br>
    <a href="/physics">Physics</a>

{% endblock %}