{% extends "layout.html" %}


{% block main %}

    <h1>The Table</h1>
    <h4>On the table there is a paper with blanks on it
    with numbers below the blanks, a table of numbers labelled n and l with
    blanks labelled “subshell label (e.g. 4s, 5d)”, and a balanced chemical
    equation with a concentration problem. Choose an element to investigate</h4>
    <br>
    <br>
    <br>
    <a href="/blanks">Paper With Blanks</a>
    <br>
    <a href="/table">Table of Numbers</a>
    <br>
    <a href="/concentration">Conectration Problem</a>

{% endblock %}