{% extends "layout.html" %}


{% block main %}

    <h1>The Poster</h1>
    <h4>The poster, shown below, is showing functional groups and how to identify and name them.</h4>
    <br>
    <table id="poster">
        <thead>
            <tr>
                <th>Name</th>
                <th>Functional Group</th>
                <th>Suffix</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>Alkane</td>
                    <td>C – C</td>
                    <td>-ane</td>
                </tr>
                <tr>
                    <td>Alkene</td>
                    <td>C = C</td>
                    <td>-ene</td>
                </tr>
                <tr>
                    <td>Alkyne</td>
                    <td>C ≡ C</td>
                    <td>-yne</td>
                </tr>
                <tr>
                    <td>Haloalkane</td>
                    <td>C – X</td>
                    <td>-ane</td>
                </tr>
                <tr>
                    <td>Carboxylic Acid</td>
                    <td>RCO<sub>2</sub>H</td>
                    <td>-oic acid</td>
                </tr>
                <tr>
                    <td>Alcohol</td>
                    <td>C – OH</td>
                    <td>-ol</td>
                </tr>
                <tr>
                    <td>Aldehyde</td>
                    <td>RCHO</td>
                    <td>-al</td>
                </tr>
                <tr>
                    <td>Ketone</td>
                    <td>R(CO)R'</td>
                    <td>-one</td>
                </tr>
                <tr>
                    <td>Amine</td>
                    <td>C – NH<sub>2</sub></td>
                    <td>-amine</td>
                </tr>
                <tr>
                    <td>Amide</td>
                    <td>RCONH<sub>2</sub></td>
                    <td>-amide</td>
                </tr>
                <tr>
                    <td>Ester</td>
                    <td>RCO<sub>2</sub>R'</td>
                    <td>-oate</td>
                </tr>
                <tr>
                    <td>Ether</td>
                    <td>C – O – C</td>
                    <td>-yl -yl ether</td>
                </tr>
        </tbody>
    </table>

{% endblock %}