{% extends "layout.html" %}


{% block main %}

    <h1>The Room</h1>
    <h4>There is a desk in the center of the room. Additionally, there is a poster on the wall, a computer in the corner, and
    a bookshelf pressed against the wall. The door you came in is shut, and the two locks are activated. Choose an element to investigate</h4>
    <br>
    <br>
    <br>
    <a href="/desk">The Desk</a>
    <br>
    <a href="/computer">The Computer</a>
    <br>
    <a href="/poster">The Poster</a>
    <br>
    <a href="/bookshelf">The Bookshelf</a>
    <br>
    <a href="/lock1">Lock 1</a>
    <br>
    <a href="/lock2">Lock 2</a>

{% endblock %}