{% extends "layout.html" %}


{% block main %}

    <h1>The Quantum Number Table</h1>
    <h4>The table reads as following:</h4>
    <br>
    <table>
        <thead>
            <tr>
                <th>n(principal)</th>
                <th>l(azimuthal)</th>
                <th>subshell label (e.g. 4s, 5d)</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>1</td>
                    <td>0</td>
                    <td>X<sub>1</sub></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>3</td>
                    <td>X<sub>2</sub></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>1</td>
                    <td>X<sub>3</sub></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>2</td>
                    <td>X<sub>4</sub></td>
                </tr>
        </tbody>
    </table>
    <form action="/table" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control"
            name="X1" placeholder="Value of X1" type="text">
            <input autocomplete="off" autofocus class="form-control"
            name="X2" placeholder="Value of X2" type="text">
            <input autocomplete="off" autofocus class="form-control"
            name="X3" placeholder="Value of X3" type="text">
            <input autocomplete="off" autofocus class="form-control"
            name="X4" placeholder="Value of X4" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Check</button>
    </form>

{% endblock %}